$altura__header: 13vh;
$altura__nav: 5vh;
$altura__footer: 7vh;

$color__barras: linear-gradient(90deg, rgba(0,3,255,1) 0%, rgba(21,180,199,1) 50%, rgba(2,159,89,1) 100%);
$color__contenedor: linear-gradient(162deg, rgba(255,252,0,1) 0%, rgba(21,199,135,0.8957615117917116) 29%, rgba(255,255,255,1) 100%);
